<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../vue.js" type="text/javascript" charset="UTF-8"></script>
    <style type="text/css">
        * {
            margin-top: 10px;
            padding: 0px
        }
    </style>
    <title>Title</title>
</head>
<body>
<div id="local_component_test">
    <!--<my-header></my-header>-->
    <welcome_vue></welcome_vue>
    <shop_page></shop_page>
</div>
<template type="text/x-template" id="my-local-template">
    <div>
        <h3>商品名称</h3>
        <h4>价格:{{price}}</h4>
    </div>
</template>
<template type="text/x-template" id="main_title">
    <h1> 欢迎来到Vue世界</h1>
</template>


<script type="text/javascript">
    var v_local_component = new Vue({
        el: '#local_component_test',
        components:{
            "shop_page":{
            template:"#my-local-template",
                    data:function(){
                    return{
                        price:99.00
                    }
                }
            },
            "welcome_vue":{
                template: "#main_title"
            }
        },
        data: {
            message: 'hello Vue'
        }
    });
</script>
</body>
</html>