<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../vue.js" type="text/javascript" charset="UTF-8"></script>
    <style type="text/css">
        *{
            margin-top: 10px;
            padding: 0px
        }
        #id{
            width: 100px;
            height: 200px;
        }
        .new{
            width: 100px;
            height: 200px;
        }
    </style>
    <title>Title</title>
</head>
<body>
<div id="app">
    {{message}}
    <div><myheader></myheader></div>
    <div><mybutton></mybutton></div>
</div>

<script type="text/javascript">
    Vue.component("myheader",{
        template:"<h1>商品<input type='test' v-model='message'>详情</h1>",
    })
    Vue.component("mybutton",{
        template:"<button>自定义模板的按钮</button>"
        /*template:"<input type='test' v-model='message'>"*/
    })
    var app=new Vue({
        el:"#app",
        data :{
            message: "新的"
        }
    })
</script>
</body>
</html>