<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width initial-scale=1.0 user-scalable-no">
    <script src="../vue.js" type="text/javascript" charset="UTF-8"></script>
    <style type="text/css">
        * {
            margin-top: 5px;
            padding: 0px;
            height: 5px;
        }
    </style>
    <title>Title</title>
</head>
<body>
<div id="newapp">
    <div v-if="isShow">用户评论:</div>
    <h4 v-for="item in comments">{{item}}</h4>
</div>
<script type="text/javascript">
    var v_variable_name = new Vue({
        el: '#newapp',
        data: {
            isShow: false,
            comments:["超nice","wujianqinjian讲的还行","樊瑞是做什么的？"],
        }
    });
</script>
</body>
</html>